* 
{
    font-family: scmagic;
    src: url("http://cocdevforum.ml/forum/images/audentio/dazzle/fonts/scmagic.ttf");
}

h1 
{
	display: block;
	text-align: center;
	font-family: scmagic;
	color: #444;
}

h1 > a 
{
	text-decoration: none;
	color: black;
}

#container
{
	margin: 0 30px;
	background: #fff;
}

#header
{
	background: #ccc;
	padding: 20px;
}

#header h1 
{ 
	margin: 0; 
}

#navigation
{
	float: left;
	width: 100%;
	background: #333;
	font-family: 'Ubuntu', sans-serif;
    border-radius: 8px;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline-flex;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover { background: #383; }

#content
{
	clear: left;
	padding: 10px;
	text-align: justify;
}

#content > h2
{
	display: block;
	font-family: 'Ubuntu', sans-serif;
	background-color: #0000bb;
	color: #fff;
	font-size: 140%;
	padding: 3px;
    border-radius: 8px;
}

#content > p 
{
	font-family: sans-serif;
	font-size: small;
}

#content > ul 
{
	font-family: sans-serif;
	font-size: small;
	list-style-position: outside;
	padding-left: 15px;

}

#content .dlandsupp 
{
	padding: 10px 0 10px 0;
	font-family: sans-serif;
	font-size: small;
}

#content .dlandsupp h2 {
	display: block;
	margin: 0.8em 0 0.5em 0;
	border-bottom-color: #999;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

#content .dlandsupp  a {
	text-decoration: none;
}

#content .dlandsupp  a:hover {
	text-decoration: underline;
}

#content .roadmap 
{
	padding: 10px 0 10px 0;
	font-family: sans-serif;	
	font-size: small;
}

#content .roadmap h2 
{
	display: block;
	margin: 0.8em 0 0.5em 0;
	border-bottom-color: #999;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

#content .roadmap table, td, tr, th
{
	border: 1px solid black;
	border-collapse: collapse;
}

#content .roadmap td, tr, th {
	padding: 5px;
}

#content .roadmap table 
{
	width: 100%;
	border: 1px solid #aca899;
}

#content .roadmap table tr
{
	
}

#content .roadmap table td
{
	
}

th#theader 
{
	background-color: #0b5394;
	color: #fff;
}

th#tcategory
{
	background-color: #e98383;
	color: #222;
}

td#green 
{
	background-color: #6aa84f;
	color: #fff;
}

td#yellow 
{
	background-color: #fffa65;
	color: #222;
}

td#red 
{
	background-color: #cc0000;
	color: #fff;
}

.last 
{
	margin: 0px 0 20px 0;
}

#content .roadmap a
{
	text-decoration: none;
}

#content .roadmap a:hover
{
	text-decoration: underline;
}

#footer
{
	font-family: sans-serif;
	font-size: small;
	background: #ccc;
	text-align: right;
	padding: 15px;
	height: 2.5%;
    border-radius: 8px;
}